/*#@import '@fontsource/fira-mono';*/

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans
}

a {
    @apply underline
}

.btn-wetlands {
    @apply text-white bg-black rounded-full px-8 py-2 hover:bg-white hover:text-black border border-black
}