*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/client/node_modules/
/client/dist/
.DS_Store
/build
/captures
.externalNativeBuild
/server/videos/
/server/db/
/server/backup
/server/node_modules/
/server/uploads/
/keystore.properties
