body {
	display: flex;
	flex-direction: column;
}

.items {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	justify-content: center;
	padding: 8px;
}

.item {
	flex: 1 1 300px;
	margin: 8px;
	align-self: center;
	justify-self: center;
}

#uploader, #linker {
	display: none;
}

#contentButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#contentButtons > button {
	margin: 4px;
}

.link {
	text-decoration: none;
}

.linkProvider {
	color: #666;
	font-size: smaller;
}

.linkTitle {
	font-family: lulo-clean-w01-one-bold, sans-serif;
	font-size: 15px;
	letter-spacing: 0.15em;
	font-weight: bold;
	color: #000;
}

.linkDescription {
	font-family: futura-lt-w01-book, sans-serif;
	font-size: 15px;
	color: #000;
}

video, audio, img, iframe {
	width: 100%;
	max-width: 400px;
}

iframe {
	border: 0;
	height: 280px;
}

button, input[type=submit], input[type=file]::-webkit-file-upload-button {
	font: italic normal normal 17px/21px georgia, palatino, "book antiqua", "palatino linotype", serif;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border-color: rgb(255, 255, 255);
	border-width: 0;
	border-radius: 0;
}