<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="/chocolate/css/chocolate.css">
</head>
<body>
<img src="/chocolate/images/choclogo.webp" class="logo">
<div>Welcome. Make your gift into a hybrid gift by adding some personal digital content to it. </div>
<div>Enter your order number to get started.</div>

<form>
    <input type="number" name="order" placeholder="Order Number">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm" placeholder="Confirm Password">
    <input type="submit" value="Create">
</form>

<form>
    <input type="number" name="order" placeholder="Order Number">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

</body>
</html>